<!-- for display data in ejs -->
<%= name %>
<%= class %>

<!-- for comment anything -->
<%# this is used as comment %>

<!-- for creating variable in ejs -->
<%= var i=10; %>
<%= var j=20; %>
<%= var k=30; %>

<!----for displaying variable in ejs-->
<%= i %>
<%= j %>

<!-- if statement explain -->
<!-- if evaluate a variable,and if that variable is true -->
<% if(variable){ %>
.....
.....
.....
<%} %>

<!-- EXAMPLE OF IF -->
<% if name {%>
    <h1>Hello<%= name %></h1>
<% } %>